<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SmileCommUNITY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="SmileCommUNITY">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="../static/image/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="images">
        <img src="../static/image/smilecommunity.jpg" style="margin: auto;" />
        <p>Welcome to Smile CommUNITY</p>
      </div>      
    </header>
    
    <div id='main'>
      <article>
          <h1>Topic of the day: {{ topic }}</h1>
          <div>
            <div class="button-area-line">
              <a href=" {{ url_for('environment') }}">Environment</a>
              <a href="{{ url_for('equality') }}">Equality</a>
              <a href="{{ url_for('education') }}">Education</a>
              <a href="{{ url_for('feminism') }}">Feminism</a>
              <a href="{{ url_for('science') }}">Science</a>
            </div>
          </div>
      </article>
    </div>
    <footer><p>&copy; Your group name GWC 2017</p></footer>
  </body>
</html>