<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SmileCommUNITY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="SmileCommUNITY">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="../static/image/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="images">
        <img src="../static/image/smilecommunity.jpg" style="margin: auto;" />
        <p>Welcome to Smile CommUNITY</p>
      </div>      
    </header>
    
    <div id='main'>
      <article>
         
          <blockquote class="embedly-card">
            <h4>
              <a href="http://www.nationalgeographic.com/magazine/2017/02/global-images-of-widows-india-bosnia-uganda-discrimination-exile/">For Widows, Life After Loss</a>
            </h4>
            <p>This story appears in the February 2017 issue ofNational Geographic magazine. The Pulitzer Center on Crisis Reporting provided a grant to support this story. View its relatedlesson plan here. 1. RETURNING TO LIFE, Vrindavan, India Long before sunrise the widows of Vrindavan hurried along dark, unpaved alleys, trying to sidestep mud puddles and fresh cow dung.</p>
          </blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          <blockquote class="embedly-card"><h4><a href="http://news.nationalgeographic.com/2016/04/160411-national-womans-party-house-museum-park-service-monument/">New U.S. National Monument Is First To Honor Women's Equality</a></h4><p>A house and museum that was home to one of the nation's leading women's rights organizations will be the United States' first national monument to women's history. On Tuesday, the Obama administration will designate the Sewall-Belmont House & Museum in Washington, D.C., as the Belmont-Paul Women's Equality National Monument, underlining the National Park Service's desire to acquire more sites that highlight women's achievements.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          <div>
            <div class="button-area-line">
              <a href=" {{ url_for('environment') }}">Environment</a>
              <a href="{{ url_for('equality') }}">Equality</a>
              <a href="{{ url_for('education') }}">Education</a>
              <a href="{{ url_for('feminism') }}">Feminism</a>
              <a href="{{ url_for('science') }}">Science</a>
            </div>
         </div>
      </article>
 
 
 
    </div>
    <footer><p>&copy; Your group name GWC 2017</p></footer>
  </body>
</html>